github "SnapKit/SnapKit"
github "SwiftyBeaver/SwiftyBeaver"
github "Instagram/IGListKit"
github "ReactiveX/RxSwift"
github "RxSwiftCommunity/RxDataSources"
github "RxSwiftCommunity/RxOptional"
github "fastred/DeallocationChecker"
github "malcommac/SwiftRichString"
github "Moya/Moya"
github "SwiftKit/Cuckoo"
github "Swinject/Swinject"
github "Swinject/SwinjectStoryboard"
#github "luispadron/UIEmptyState"
github "onevcat/Kingfisher"
github "realm/realm-cocoa"
#github "RxSwiftCommunity/RxRealm"
github "devxoul/RxExpect"